{% extends "AppsCoreBundle::layout.html.twig" %} 
{% block title %}
    Annonce -{{ parent()}}
{% endblock %}
{% block body %}
        <div class="widewrapper main">
            <div class="container">
                <div class="row">
                    {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}  
                    {% block platform_body %}
                    {% endblock %}
                    <div>
                      {{ render(controller("AppsPlatformBundle:Advert:menu", {'limit': 3})) }}
                    </div>                    
                </div>                
            </div>
        </div>
{% endblock %}
